@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("login-page_background.png");
    background-size: cover;
    background-position: center;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    position: relative;
    color: white;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: azure;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background: white;
    border-radius: 5px;
    transform: scale(0);
    transition: transform .5s;
    transform-origin: right;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .login-btn {
    width: 130px;
    height: 50px;
    color: aliceblue;
    background: transparent;
    border: 2px solid black;
    background: transparent;
    font-weight: 500;
    font-size: 1.1em;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    margin-left: 40px;
    transition: 0.2s;
}

.navigation .login-btn:hover {
    background: rgb(243, 247, 192);
    color: rgb(8, 8, 8);
    text-decoration: underline;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 30px rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}


.form-box h2 {
    font-size: 2em;
    color: rgb(28, 27, 29);
    text-align: center;

}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(62, 48, 70);
    margin: 20px 0;
}

.input-box label {
    position: absolute;
    top: 30%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(18, 17, 19);
    font-weight: 500;
    pointer-events: none;

}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;   
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: rgb(48, 4, 73);
    line-height: 57px;
    
}